* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: sans-serif;
    font-size: 0.5rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color:aqua;
    border: 1px solid red
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-part {
    height: 83%;
    max-height: 655px;
    border: 30px solid yellow;
    border-radius: 1rem;
    width: auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 5fr;
    gap: 0.5rem;
}
.firstLine1, .screen, .numberPad {
    border: 3px solid rgb(246, 24, 24);
    border-radius: 1rem;
}
.numberPad {
    display: grid;
    grid-template-columns: repeat(4, minmax(70px, 300px));
    grid-template-rows: repeat(5, minmax(70px, 1fr));
    background-color: black;
    place-items: center;
    place-content: center;
}
.numberPad > .nums {
    width: 70px;
    height:70px;
    border: 2px solid yellowgreen;
    border-radius: 50%;
    color: red;
    font-size: 1.5rem;
    font-weight: bolder;
    display: grid;
    place-items: center;
    place-content: center;
    text-align: center;
    margin: 0.25rem;
}
.numberPad > .nums:hover {
    background-color: blueviolet;
}
.firstLine1, .firstLine2, .operator, .screen {
    padding: 1rem;
    height: 4rem;
    text-align: end;
    font-size: 1.4rem;
}
.firstLine1, .firstLine2 {
    background-color: rgb(0, 28, 4);
}
.operator {
    background-color: rgb(5, 18, 167);
}
.screen {
    background-color: rgb(62, 3, 158);
}
#nums-0 {
    grid-column: 1 / 3;
    width: 160px;
    height: 70px;
    border-radius: 50%;
}